:root {
  --content-width: 900px;
}

/* Demo Styles */

.demo-container {
  width: 100%;
  aspect-ratio: 1.6;
  border-radius: 5px;
  overflow: hidden;
  background-color: #EDEDED;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  margin: 20px 0;
}

.block {
  width: 30px;
  height: 30px;
  background-color: hsla(160, 100%, 37%, 1);
  border-radius: 5px;
  border: 2px solid white;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0;
}

.block:nth-child(2n) {
  background-color: #34495E;
}

.block--wide {
  animation: demo-width 4s infinite;
}

.block--tall {
  animation: demo-height 3s infinite;
}

@keyframes demo-width {
  0% {
    width: 30px;
  }
  50% {
    width: 100px;
  }
  0% {
    width: 30px;
  }
}

@keyframes demo-height {
  0% {
    height: 30px;
  }
  50% {
    height: 100px;
  }
  0% {
    height: 30px;
  }
}
